*{

    display: 0%;
    font-family: Arial, Helvetica, sans-serif;

}

#contenedor{

    margin: 70px auto;
    width: 50%;
    background-color: white;
    border-radius: 25px;
    border: solid #9c9b9b 2px;
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;

}

header{

    height: 10%;
    padding: 10px 0 10px 0; 
    color: black;

}

footer{

    height: 20%;
    padding: 10px 0 10px 0; 

}

section{

    height: 70%;
    padding: 10px 0 10px 0;

}

input{

    margin: 7px;
    padding: 3px;
    border-radius: 3px;
    border-color: #9c9b9b;

}

input:hover{

    border-color: black;

}

#numeroCalle,#ciudad{

    margin-left: 78px;

}

button{

    padding: 10px 20px 10px 20px;
    margin: 30px;
    border-radius: 3px;
    background-color: #147CA9;
    color: white;
    font-weight: bold;
    border-color: solid black;

}

button:hover{

    color: black;
    font-weight: bold;

}

#cuadro{

    background-color: black;
    border-color: solid 2px green;
    padding: 80px;
    margin: 10px;

}

#uno{

    display: flex;
    flex-direction: column;

}

#dos{

    display: flex;
    flex-direction: column;
    align-items: center;

}

article{

    display: flex;
    flex-direction: row;

}

section{




}