*{

    display: 0%;
    font-family: Arial, Helvetica, sans-serif;

}

#contenedor{

    margin: 70px auto;
    width: 70%;
    width: 70%;
    background-color: #147CA9;
    border-radius: 25px;

}

header{

    height: 10%;
    padding: 10px 0 10px 0; 
    color: whitesmoke;

}

footer{

    height: 20%;
    padding: 10px 0 10px 0; 

}

section{

    height: 70%;
    padding: 10px 0 10px 0;

}

ul{

    list-style: none;

}

ul li{
    
    padding-bottom: 10px;

}

li a{

    text-decoration: none;
    color: black;
    list-style: none;
    font-size: 17px;

}

li a:hover{

    color: white;
    font-weight: bold;

}