*{

    font-family: Arial, Helvetica, sans-serif;

}

header{

    margin: 100px 0 50px;

}

table{

    width: 80%;
    border-collapse: collapse;
    margin-bottom: 20px;

}

th,td{

    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;

}

th:hover,td:hover{

    background-color: #5b9fbc;
    color: white;

}

th{

    background-color: #e0dee9;

}

#columnas{

    width: 10%;

}

button{

    background-color: #147CA9;
    font-size: 17px;
    color: white;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 5px;
    border-color: rgb(68, 68, 68);
    font-weight: bold;

}

button:hover{

    border-color: rgb(128, 128, 128);
    font-weight: bold;
    color: black;

}

input{

    padding: 5px;
    border-radius: 10px;

}

.tabulacion{

    margin-left: 100px;

}